.paginate_ss
  = will_paginate :params => {:st_dt_val => @_st_dt, :end_dt_val => @_end_dt, :ins_val => @_ins}
%br
= form_tag daterange_report_path do
  %table
    %tr
      %td
        &nbsp;
        %b Start Date(YYYY/MM/DD)
      %td
        = text_field_tag :st_dt, :val, :value => @_st_dt, :size => "8", :style => "background-color:#CCCCFF"
      %td
        &nbsp;
        %b End Date(YYYY/MM/DD)
      %td
        = text_field_tag :end_dt, :val, :value => @_end_dt, :size => "8", :style => "background-color:#CCCCFF"
      %td
        &nbsp;
        %b Installed
      %td
        = select :ins, :val, ["NO","YES","ALL"], :selected => @_ins
      %td
        &nbsp;
        = submit_tag ' GO '
%table{:border => 0, :cellspacing => 0}
  %tr
    %td{:colspan => 16, :align => "center", :style => "font-size:15px;padding-bottom:10px"}
      %b Registration Details For The Choosen Period
      .flt_rt{:style => "float:right"}
        - if ! @rec[0].nil?
          = form_tag save_report_path,:controller => "utilities", :method => 'post' do
            = hidden_field_tag :qry, :val, :value => @final_query, :size => 1
            = hidden_field_tag :hidden_st, :val, :value => @_st_dt, :size => 1
            = hidden_field_tag :hidden_end, :val, :value => @_end_dt, :size => 1
            = submit_tag ' Export To Excel ', :title => "Save as Excel file"
        - else
          = button_to(' Export To Excel ', {}, :disabled => true)
  = render 'report'
%br
.paginate_ss
  = will_paginate :params => {:st_dt_val => @_st_dt, :end_dt_val => @_end_dt, :ins_val => @_ins}
