%div{:class=>"mid_bg_add_utilities"}
  %table
    %tr
      %td{:colspan => 2}
        %h1 Available Reports
    %tr{:style => "font-weight:bold;background-color: blue;color:white"}
      %td Sl No
      %td{:width => "600px"} Report Name
      %td Description
    %tr.datarow{:class => 'list_line_odd'}
      %td
        = link_to '1', send_to_reliance_path, :title => 'Click to go'
      %td{:style => "white-space: nowrap;"}
        = link_to 'Report To Be Sent To Reliance To Install A New Connection', send_to_reliance_path, :title => 'Click to go'
      %td{:style => "color:#74393F"}
        %b For Which GSK PIN & GSK NO Has Already Been Allotted
    %tr.datarow{:class => 'list_line_even'}
      %td
        = link_to '2', monthly_report_path, :title => 'Click to go'
      %td{:style => "white-space: nowrap;"}
        = link_to 'Report For A Particular Month', monthly_report_path, :title => 'Click to go'
      %td{:style => "color:#74393F"}
        %b Shows Registration Details For A Specific Month
    %tr.datarow{:class => 'list_line_odd'}
      %td
        = link_to '3', daterange_report_path, :title => 'Click to go'
      %td{:style => "white-space: nowrap;"}
        = link_to 'Report For A Particular Period', daterange_report_path, :title => 'Click to go'
      %td{:style => "color:#74393F"}
        %b Shows Registration Details For A Specific Period

