.paginate_ss
  = will_paginate
%br
%table{:border => 0}
  %tr
    %td{:colspan => 8, :align => "center", :style => "font-size:15px;padding-bottom:10px"}
      %b Report To Be Sent To Reliance For New Customer Installation
    %td{:align => "center"}
      - if ! @install_book[0].nil?
        = form_tag save_reliance_path,:controller => "utilities", :method => 'post' do
          = submit_tag ' Save ', :title => "Save as Excel file"
      - else
        = button_to(' Save ', {}, :disabled => true)
  %tr{:style => "font-weight:bold;background-color: blue;color:white"}
    %td Slip/Trans ID
    %td GSK NO
    %td GSK PIN
    %td Cust Name
    %td Contact No
    %td Alt Contact No
    %td Address
    %td State
    %td City
  - @install_book.each do |install_book|
    %tr.datarow{:class => cycle('list_line_odd','list_line_even')}
      %td
        = install_book.Slip_Trans_id
      %td
        = install_book.GSK_No
      %td
        = install_book.GSK_Pin
      %td
        = install_book.cust_inf.CName
      %td
        = install_book.cust_inf.Contact_No
      %td
        = install_book.cust_inf.Alt_Con_No || ''
      %td
        = install_book.cust_inf.Address
      %td
        = install_book.cust_inf.State
      %td
        = install_book.cust_inf.City
%br
.paginate_ss
  = will_paginate
