= javascript_include_tag 'cust_infs'
%div{:class=>"mid_bg_add"}
  = form_for(@cust_inf) do |f|
    = render "shared/flash_messages"
    = render "shared/error_messages", :target => @cust_inf
    %table{:cellpadding=>"3", :cellspacing=>"3", :style => "margin-left:10px;margin-top:10px"}
      %tbody{:class => 'bold'}
        %tr
          %td{:colspan => 4, :class => 'note'}
            ** All fields are mandatory
        %tr
          %td{:colspan => 4}
            %h1 Provide Subscriber's Details Here
            %br
            %br
        %tr
          %td
            = f.label :slip_no, 'Payment Slip No'
          %td
            = f.text_field :slip_no, :class => 'text_feld_area'
          %td
            %u OR
            = f.label :trans_id, ' Transaction ID'
          %td
            = f.text_field :trans_id, :class => 'text_feld_area'
        %tr
          %td
            = f.label :date_of_reg, 'Payment Date**'
          %td
            = f.date_select :date_of_reg, :start_year => 2010, :end_year => Time.now.year, :order => [:day, :month, :year]
          %td
            = f.label :amount, 'Amount Paid**'
          %td
            = f.text_field :amount, :class => 'text_feld_area_small'
            Rs.
        %tr
          %td{:colspan => 4, :align => "center"}
            %hr{:style => "height:4px;background-color:#D6D9BA"}
        %tr
          %td
            = f.label :cname, 'Customer Name**'
          %td
            = f.text_field :cname, :class => 'text_feld_area'
          %td
            = f.label :contact_no, 'Contact No**'
          %td
            = f.text_field :contact_no, :class => 'text_feld_area'
        %tr
          %td
            = f.label :alt_con_no, 'Alternate Contact No'
          %td
            = f.text_field :alt_con_no, :class => 'text_feld_area'
          %td
            = f.label :address, 'Address**'
          %td
            = f.text_area :address, :size=> "26x2", :class => 'write_area'
        %tr
          %td
            = f.label :state, 'State**'
          - if @controller.action_name == 'edit' || @controller.action_name == 'update'
            %td
              = f.text_field :state, :class => 'text_feld_area'
          - else
            %td
              = select :cust_inf, :state, @state_list
          %td
            = f.label :city, 'City**'
          %td
            = f.text_field :city, :class => 'text_feld_area'
          -#- if @controller.action_name == 'edit' || @controller.action_name == 'update'
            -#%td
              -#= f.text_field :city, :class => 'text_feld_area', :disabled => true
          -#- else
            -#%td
              -#= select :cust_inf, :city, @city_list -#Using textfield for the city inlieu of dropdown list
        %tr
          %td
            = f.label :pincode, 'Pincode**'
          %td
            = f.text_field :pincode, :class => 'text_feld_area_small'
          %td{:colspan => 2} 
        %tr
          - if @controller.action_name == 'edit' || @controller.action_name == 'update'
            %td{:colspan => 2, :align => "right"}
              = f.submit ' Update ', :disable_with => ' Update ', :title => "Update and go back to main page"
            %td{:colspan => "2",:align=>"left"}
              = link_to button_to(' Cancel '),cust_infs_path, :method => "get", :title => "Cancel registering customer"
          - else  
            %td{:colspan => 3, :align => "right"}
              = f.submit ' Save and Exit ', :disable_with => ' Save and Exit ', :name => "save", :title => "Save and go back to main page"
              &nbsp;
              = f.submit ' Save and Continue ', :disable_with => ' Save and Continue ', :name => "cont", :title => "Save and continue to register another customer"
            %td{:colspan => "1",:align=>"left"}
              = link_to button_to(' Cancel '),cust_infs_path, :method => "get", :title => "Cancel registering customer"
