.sort_search_tag
  %br
  = form_tag show_sorted_path do
    %table{:border => 0}
      %tr
        -# For the time being not implementing sorting...
        -#%td
        -#  %fieldset
        -#    %legend Sort
        -#    = select :sort_by, :val, @sort_on
        %td
          %fieldset
            %legend Filter Records
            %table
              %tr
                %td
                  %b Name:
                %td{:class => 'right_border'}
                  = text_field_tag 'nm', @_nm, :style => "width:100px"
                %td
                  %b Address:
                %td{:class => 'right_border'}
                  = text_field_tag 'add', @_add, :style => "width:100px"
                %td
                  %b Contact:
                %td{:class => 'right_border'}
                  = text_field_tag 'cont', @_cont, :style => "width:100px"
                %td
                  %b State:
                %td{:class => 'right_border'}
                  = text_field_tag 'st', @_st, :style => "width:100px"
                %td
                  %b Installed:
                %td{:class => 'right_border'}
                  = select :is_installed, :val, ["NO","YES","ALL"], :selected => @_ins
        %td{:valign => "bottom", :style => "padding-bottom:7px"}
          &nbsp;
          = submit_tag ' GO '

