%div{:class=>"mid_bg_add_bigger"}
  = render "shared/flash_messages"
  .paginate_ss
    = will_paginate
  .row_hover
    %table{:border => 0}
      %tr
        %td{:colspan => 8}
          %h1 Customers Details
        %td{:colspan => 8, :align => "right"}
          .new_page_link
            = link_to ' Add New Customer ', new_cust_inf_path
      %tr{:style => "font-weight:bold;background-color: blue;color:white"}
        %td Id
        %td{:style => "white-space: nowrap;"} Slip/Trans No
        %td{:width => "100px"} Name
        %td Contact#
        %td Alt Cont#
        %td{:width => "200px"} Address
        %td State
        %td City
        %td Pincode
        %td{:style => "white-space: nowrap;"} Reg Date
        %td Amount
        %td{:style => "white-space: nowrap;"} SCN
        %td Installed
        %td{:width => "150px"} Remarks
        %td{:colspan => 2, :align => "center"} Action
      - @cust_infs.each do |cust_inf|
        %tr.datarow{:class => cycle('list_line_odd','list_line_even')}
          %td
            = cust_inf.CustId
          %td{:style => "white-space: nowrap;"}
            = cust_inf.Slip_No || cust_inf.Trans_id
          %td
            = cust_inf.CName 
          %td
            = cust_inf.Contact_No 
          %td
            = (cust_inf.Alt_Con_No.nil? || cust_inf.Alt_Con_No.blank?) ?  "N/A" : cust_inf.Alt_Con_No
          %td
            = cust_inf.Address 
          %td
            = cust_inf.State 
          %td
            = cust_inf.City 
          %td
            = cust_inf.PinCode 
          %td{:style => "white-space: nowrap;"}
            = cust_inf.Date_of_reg.strftime('%d-%b-%y') 
          %td
            = cust_inf.Amount.to_i 
          %td{:style => "white-space: nowrap;"}
            = (cust_inf.SmartcardNo.nil? || cust_inf.SmartcardNo.blank?) ?  "N/A" : cust_inf.SmartcardNo
          %td
            = cust_inf.Installed == true ? "YES" : "NO" 
          %td
            = (cust_inf.Remarks.nil? || cust_inf.Remarks.blank?) ?  "N/A" : cust_inf.Remarks
          - if ! cust_inf.Installed
            %td{:align => "center"}
              = link_to image_tag('edit.png',:title => "Edit '#{cust_inf.CName}'"), edit_cust_inf_path(cust_inf.id)
          - else
            %td{:align => "center"}
              = image_tag('edit_disable.png',:title => "Installation already done so no edit allow !!")
          %td{:align => "center"}
            = link_to image_tag('delete.png',:title => "Delete '#{cust_inf.CName}'"), cust_inf, :confirm => "Are you sure to delete #{cust_inf.CName}?", :method => :delete
  .paginate_ss
    %br
    = will_paginate
