%p
  %b Custid:
    = @cust_inf.cust_id

%p
  %b Trans:
    = @cust_inf.trans_id

%p
  %b Slip no:
    = @cust_inf.slip_no

%p
  %b Cname:
    = @cust_inf.cname

%p
  %b Contact no:
    = @cust_inf.contact_no

%p
  %b Alt con no:
    = @cust_inf.alt_con_no

%p
  %b Address:
    = @cust_inf.address

%p
  %b State:
    = @cust_inf.state

%p
  %b City:
    = @cust_inf.city

%p
  %b Pincode:
    = @cust_inf.pincode

%p
  %b Date of reg:
    = @cust_inf.date_of_reg

%p
  %b Amount:
    = @cust_inf.amount

%p
  %b Smartcardno:
    = @cust_inf.smartcardno

%p
  %b Installed:
    = @cust_inf.installed

%p
  %b Remarks:
    = @cust_inf.remarks

= link_to 'Edit', edit_cust_inf_path(@cust_inf)
= link_to 'Back', cust_infs_path
