%div{:class=>"mid_bg_add"}
  = form_for(@install_book) do |f|
    = render "shared/flash_messages"
    = render "shared/error_messages", :target => @install_book
    %table{:cellpadding=>"3", :cellspacing=>"3", :style => "margin-left:50px;margin-top:10px"}
      %tbody{:class => 'bold'}
        %tr
          %td{:colspan => 4, :class => 'note'}
            ** All fields are mandatory
        %tr
          %td{:colspan => 4}
            %h1 Workorder Details
            %br
            %br
        %tr
          %td
          %td{:colspan => 3, :align => "left", :style => "color:green;font-size:11px"}
            [Slip/TransID=>CustID=>CustName=>ContactNo=>City]
        %tr
          %td
            = f.label :GSK_No, 'Workorder For**'
          %td{:colspan => 3, :align => "left"}
            = select :booking_for_cust, :cust, @booking_for
        %tr
          %td{:colspan => 4}
            %br
        %tr
          %td
            = f.label :GSK_No, 'GSK No**'
          %td
            = f.text_field :GSK_No, :class => 'text_feld_area', :disabled => @booking_for[0]=="****No customer found to book****"
          %td
            = f.label :GSK_Pin, 'GSK Pin**'
          %td
            = f.text_field :GSK_Pin, :class => 'text_feld_area', :disabled => @booking_for[0]=="****No customer found to book****"
        %tr
          %td{:colspan => 4, :align => "center"}
            %hr{:style => "height:4px;background-color:#D6D9BA"}
        %tr
          %td{:colspan => 3, :align => "right"}
            = f.submit ' Save and Exit ', :name => "save", :title => "Save and go back to main page", :disabled => @booking_for[0]=="****No customer found to book****"
            &nbsp;
            = f.submit ' Save and Continue ', :name => "cont", :title => "Save and continue for another workorder", :disabled => @booking_for[0]=="****No customer found to book****"
          %td{:colspan => "1",:align=>"left"}
            = link_to button_to(' Cancel '), install_books_path, :method => "get", :title => "Cancel this workorder"
