<%= form_for(@install_book) do |f| %>
  <% if @install_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@install_book.errors.count, "error") %> prohibited this install_book from being saved:</h2>

      <ul>
      <% @install_book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cust_inf_id %><br />
    <%= f.text_field :cust_inf_id %>
  </div>
  <div class="field">
    <%= f.label :CustId %><br />
    <%= f.text_field :CustId %>
  </div>
  <div class="field">
    <%= f.label :GSK_No %><br />
    <%= f.text_field :GSK_No %>
  </div>
  <div class="field">
    <%= f.label :GSK_Pin %><br />
    <%= f.text_field :GSK_Pin %>
  </div>
  <div class="field">
    <%= f.label :RCV_No %><br />
    <%= f.text_field :RCV_No %>
  </div>
  <div class="field">
    <%= f.label :RCV_Pin %><br />
    <%= f.text_field :RCV_Pin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
