%div{:class=>"mid_bg_add"}
  = form_for(@install_book) do |f|
    = render "shared/flash_messages"
    = render "shared/error_messages", :target => @install_book
    %table{:cellpadding=>"3", :cellspacing=>"3", :style => "margin-left:20px;margin-top:10px"}
      %tbody{:class => 'bold'}
        %tr
          %td{:colspan => 4, :class => 'note'}
            ** All fields are mandatory
        %tr
          %td{:colspan => 4}
            %h1 Recharge Voucher Details
            %br
            %br
        %tr
          %td
            = f.label :GSK_No, 'Recharge Voucher For'
          %td
            = f.text_field :GSK_Pin, :value => @install_book.cust_inf.CName, :class => 'text_feld_area', :disabled => true
          %td
            = f.label :Slip_Trans_id, 'Slip/Trans ID'
          %td
            = f.text_field :Slip_Trans_id, :class => 'text_feld_area', :disabled => true
        %tr
          %td{:colspan => 4}
            %br
        %tr
          %td
            = f.label :GSK_No, 'GSK No'
          %td
            = f.text_field :GSK_No, :class => 'text_feld_area', :disabled => true
          %td
            = f.label :GSK_Pin, 'GSK Pin'
          %td
            = f.text_field :GSK_Pin, :class => 'text_feld_area', :disabled => true
        %tr
          %td{:colspan => 4, :align => "center"}
            %hr{:style => "height:4px;background-color:#D6D9BA"}
        %tr
          %td
            = f.label :SmartcardNo, 'Smartcard No**'
          %td
            = f.text_field :SmartcardNo, :class => 'text_feld_area'
          %td
            = f.label :RCV_Pin, 'RCV Pin**'
          %td
            = f.text_field :RCV_Pin, :class => 'text_feld_area'
        %tr
          %td
            = f.label :RCV_No, 'RCV No**'
          %td
            = f.text_field :RCV_No, :class => 'text_feld_area'
          %td
            = f.label :Remarks, 'Remarks'
          %td
            = f.text_area :Remarks, :size => "25x2"
        %tr
          %td{:colspan => 4, :align => "center"}
            %hr{:style => "height:4px;background-color:#D6D9BA"}
        %tr
          %td{:colspan => 2, :align => "right"}
            = f.submit ' Apply recharge voucher ', :title => 'Click to assign recharge voucher to customer'
          %td{:colspan => 2, :align => "left"}
            = link_to button_to(' Cancel '), install_books_path, :method => "get", :title => "Cancel recharging customer"
