%div{:class=>"mid_bg_add"}
  = form_for(@install_book) do |f|
    = render "shared/flash_messages"
    = render "shared/error_messages", :target => @install_book
    %table{:cellpadding=>"3", :cellspacing=>"3", :style => "margin-left:20px;margin-top:10px"}
      %tbody{:class => 'bold'}
        %tr
          %td{:colspan => 4, :class => 'note'}
            ** All fields are mandatory
        %tr
          %td{:colspan => 4}
            %h1 Recharge Voucher Details
            %br
            %br
        %tr
          %td
            = f.label :gsk_no, 'Recharge Voucher For'
          %td
            = f.text_field :gsk_pin, :value => @install_book.cust_inf.cname, :class => 'text_feld_area', :disabled => true
          %td
            = f.label :slip_trans_id, 'Slip/Trans ID'
          %td
            = f.text_field :slip_trans_id, :class => 'text_feld_area', :disabled => true
        %tr
          %td{:colspan => 4}
            %br
        %tr
          %td
            = f.label :gsk_no, 'GSK No'
          %td
            = f.text_field :gsk_no, :class => 'text_feld_area', :disabled => true
          %td
            = f.label :gsk_pin, 'GSK Pin'
          %td
            = f.text_field :gsk_pin, :class => 'text_feld_area', :disabled => true
        %tr
          %td{:colspan => 4, :align => "center"}
            %hr{:style => "height:4px;background-color:#D6D9BA"}
        %tr
          %td
            = f.label :smartcardno, 'Smartcard No**'
          %td
            = f.text_field :smartcardno, :class => 'text_feld_area'
          %td
            = f.label :rcv_pin, 'RCV Pin**'
          %td
            = f.text_field :rcv_pin, :class => 'text_feld_area'
        %tr
          %td
            = f.label :rcv_no, 'RCV No**'
          %td
            = f.text_field :rcv_no, :class => 'text_feld_area'
          %td
            = f.label :remarks, 'Remarks'
          %td
            = f.text_area :remarks, :size => "25x2"
        %tr
          %td{:colspan => 4, :align => "center"}
            %hr{:style => "height:4px;background-color:#D6D9BA"}
        %tr
          %td{:colspan => 2, :align => "right"}
            = f.submit ' Apply recharge voucher ', :title => 'Click to assign recharge voucher to customer'
          %td{:colspan => 2, :align => "left"}
            = link_to button_to(' Cancel '), install_books_path, :method => "get", :title => "Cancel recharging customer"
