%div{:class=>"mid_bg_add_booking"}
  = render "shared/flash_messages"
  .paginate_ss
    = will_paginate :params => {:nm=>@_nm,:slp=>@_slp,:gskno=>@_gskno,:gskpin=>@_gskpin,:scn=>@_scn,:rcvno=>@_rcvno,:rcvpin=>@_rcvpin,:is_installed_val=>@_ins}
  = render 'sort_filter_install_form'
  .row_hover
    %table{:border => 0}
      %tr
        %td{:colspan => 5}
          %h1 Booking Details
        %td{:colspan => 8, :align => "right"}
          .new_page_link
            = link_to ' Generate New Workorder ', new_install_book_path
      %tr{:style => "font-weight:bold;background-color: blue;color:white"}
        %td Cust ID
        %td Name
        %td{:style => "white-space: nowrap;"} Contact No 
        %td City
        %td{:style => "white-space: nowrap;"} Slip/Trans ID
        %td{:style => "white-space: nowrap;"} GSK No
        %td{:style => "white-space: nowrap;"} GSK PIN
        %td{:style => "white-space: nowrap;"} SmartCardNo
        %td{:style => "white-space: nowrap;"} RCV No
        %td{:style => "white-space: nowrap;"} RCV PIN
        %td Installed
        %td Remarks
        %td{:align => "center"} Action
      - if ! @install_books[0].nil?
        - @install_books.each do |install_book|
          %tr.datarow{:class => cycle('list_line_odd','list_line_even')}
            %td= install_book.cust_id
            %td{:style => "white-space: nowrap;"}
              = install_book.cust_inf.cname
            %td{:style => "white-space: nowrap;"}
              = install_book.cust_inf.contact_no
            %td{:style => "white-space: nowrap;"}
              = install_book.cust_inf.city
            %td{:style => "white-space: nowrap;"}
              = install_book.slip_trans_id
            %td{:style => "white-space: nowrap;"}
              = install_book.gsk_no
            %td{:style => "white-space: nowrap;"}
              = install_book.gsk_pin
            %td{:style => "white-space: nowrap;"}
              = (install_book.smartcardno.nil? || install_book.smartcardno.blank?) ?  "N/A" : install_book.smartcardno
            %td{:style => "white-space: nowrap;"}
              = (install_book.rcv_no.nil? || install_book.rcv_no.blank?) ?  "N/A" : install_book.rcv_no
            %td{:style => "white-space: nowrap;"}
              = (install_book.rcv_pin.nil? || install_book.rcv_pin.blank?) ?  "N/A" : install_book.rcv_pin
            %td
              = install_book.installed ? "YES" : "NO"
            %td
              = (install_book.remarks.nil? || install_book.remarks.blank?) ?  "N/A" : install_book.remarks
            %td{:align => "center"}
              - if install_book.rcv_no.nil?
                = link_to image_tag('reliance_recharge.png',:title => 'Click to provide recharge voucher to customer'), edit_install_book_path(install_book.id)
              - else
                = image_tag('reliance_recharge_disable.png', :title => 'Recharge voucher already sent to customer')
      - else
        %tr
          %td{:colspan => 16, :align => "center", :style => "color:black;background-color:#CCFFFF", :width => "1200px"} 
            %b No Record Found !!!        
  .paginate_ss
    %br
    = will_paginate :params => {:nm=>@_nm,:slp=>@_slp,:gskno=>@_gskno,:gskpin=>@_gskpin,:scn=>@_scn,:rcvno=>@_rcvno,:rcvpin=>@_rcvpin,:is_installed_val=>@_ins}



