%b Cust inf:
= @install_book.cust_inf_id
%b Custid:
= @install_book.cust_id
%b Gsk no:
= @install_book.gsk_no
%b Gsk pin:
= @install_book.gsk_pin
%b Rcv no:
= @install_book.rcv_no
%b Rcv pin:
= @install_book.rcv_pin

= link_to 'Edit', edit_install_book_path(@install_book)
= link_to 'Back', install_books_path
