%b Cust inf:
= @install_book.cust_inf_id
%b Custid:
= @install_book.CustId
%b Gsk no:
= @install_book.GSK_No
%b Gsk pin:
= @install_book.GSK_Pin
%b Rcv no:
= @install_book.RCV_No
%b Rcv pin:
= @install_book.RCV_Pin

= link_to 'Edit', edit_install_book_path(@install_book)
= link_to 'Back', install_books_path
