var state_city_array = new Array();

<% for s_c in @state_city_list -%>
  state_city_array.push(new Array('<%= s_c.state %>','<%= s_c.city %>'))
<% end -%>

function getCities() {
  state = $("#cust_inf_state").attr("value");
  $("#cust_inf_city").html("");
  $(state_city_array).each(function(i) {
    if (state_city_array[i][0] == state) {
      $("#cust_inf_city").append("<option value='" + state_city_array[i][1] + "'>" + state_city_array[i][1] + "</option>")
    }
  });
}

function resetDateToCurrent() {
  alert("Payment date can not be a future date !! \nSetting it to Current Date [<%= @curr_day %>/<%= @curr_month %>/<%= @curr_year %>]");
  $("#cust_inf_date_of_reg_1i").attr("value", <%= @curr_year %>);
  $("#cust_inf_date_of_reg_2i").attr("value", <%= @curr_month %>);
  $("#cust_inf_date_of_reg_3i").attr("value", <%= @curr_day %>);
}

function validateDate() {
  year = $("#cust_inf_date_of_reg_1i").attr("value");
  month = $("#cust_inf_date_of_reg_2i").attr("value");
  day = $("#cust_inf_date_of_reg_3i").attr("value");
  if ((year >= <%= @curr_year %>) && (month > <%= @curr_month %> || (month == <%= @curr_month %> && day > <%= @curr_day %>))) {
    resetDateToCurrent()
  }
}

jQuery(document).ready(function(){
  getCities();
  $("#cust_inf_state").change(getCities);
  $("#cust_inf_date_of_reg_1i").change(validateDate);
  $("#cust_inf_date_of_reg_2i").change(validateDate);
  $("#cust_inf_date_of_reg_3i").change(validateDate);
});